
.app {
    font-family: 'Baloo Tamma 2', cursive;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(imgs/Black\ Desert\ 3.png);
    background-size: cover;
    background-position: center;
}

/* ------------- SITE PART 1 ------------- */

.app-header {
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.425);
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right i {
    margin: 0 10px;
}

.header-right select {
    background-color: transparent;
    color: #eee;
    padding: 5px 10px;
    outline-style: none;
    cursor: pointer;
    font-size: 0.85rem;
    margin-right: 20px;
}

.header-right select:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.425);
}

.header-right option {
    background-color: rgb(30, 30, 30);
    color: #eee;
}

/* ------------- SITE PART 2 ------------- */

.app-content {
    position: relative;
    flex: 1;
    margin: 0;
    color: #eee;
    padding: 40px;
}

.content-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 100px;
}

.app-content h2 {
    margin: 0;
    font-size: 2rem;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.app-content p {
    margin-bottom: 20px;
    max-width: 600px;
    text-align: justify;
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 1.1rem;
}

.app-content .btn-success {
    font-size: 0.9rem;
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    background-color: rgb(23, 161, 23);
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.app-content .btn-success:hover {
    background-color: rgb(26, 179, 26);
}
.app-content .btn-success i {
    margin: 0;
    margin-left: 10px;
    color: white;
}

/* ------------- SITE PART 3 ------------- */

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.562);
    height: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.425);
    border-top: 1px solid #333;
}