
html {
    /*font-family: 'Nunito', sans-serif;*/
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 18px;
}

body {
    position: relative;
    margin: 0;
    background-color: #F2F2F2;
    color: #333;
}

/* -------------- Global CSS ------------- */

button, select, input {
    font-family: 'Baloo Tamma 2', cursive;
    outline-style: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.error {
    border-color: #cc3535 !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #444;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/* -------------- APP ------------- */

.app {
    width: 100%;
    min-height: 100vh;
}

.app-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    color: rgb(238, 236, 236);
    padding: 0 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.425);
}

.app-header .header-left {
    display: flex;
    align-items: center;
}

.app-header a {
    font-size: 1.3rem;
    outline-style: none;
    text-decoration: none;
    cursor: pointer;
    color: #eee;
    text-transform: uppercase;
    padding: 20px;
}

.app-header a:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.425);
}

.app-content {
    margin: 20px 50px;
}

.btn {
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-primary {
    background-color: #5244a9;
    color: white;
    outline-style: none;
}

.btn-primary:hover {
    background-color: #6453d4;
}

button.btn.btn-primary[disabled] {
    background-color: #7971ad;
    cursor:  default;
}

.tail-up {
    display: inline-block;
    border: 10px solid #ff000000;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(70, 156, 70);
    position: absolute;
    top: -17px;
    right: 13px;
}

.message-block {
    display: none;
    align-items: center;
    position: fixed;
    bottom: 50px;
    left: 60px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.212);
}

.message-block span {
    flex: 1;
    font-size: 1.1rem;
}

.message-block i {
    margin-left: 20px;
}

.mb-0 {
    margin-bottom: 10px;
}

.background-load {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
}

.background-load.show {
    display: flex;
}

.background-load img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 80px;
    opacity: 0.8;
}